{% extends "rango/base.html" %}
{% load staticfiles %} 

{% block title_block %}
    Home
{% endblock %}
{% block body_block %}
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        {%if categories %}
           
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    <div>
         {%if pages %}
           
        </ul>
        {% else %}
            <strong>There are no pages present</strong>
        {% endif %}
    </div>
    <div>
        <p>visits: {{visits}}</p>
        <img src="{% static "images/kono.jpg" %}"alt="Picture of Rango" />
        <br />
    </div>
{% endblock %}
